<footer>
    <p class="text-center text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aut beatae laboriosam vitae aliquam sunt odit ipsam necessitatibus. Repellendus, ad aliquid. Doloribus totam excepturi fuga, facilis praesentium obcaecati est consequuntur.</p>
</footer>