<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../partials/head');%> 
<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'});%> 
   <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nihil quae ut explicabo rem enim provident modi consequuntur. Excepturi laudantium fuga labore fugit recusandae est veniam dolor tenetur sed ab.</p>
        </div>
   </main>
   
    <%- include('../partials/footer');%>
</body>
</html>